@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url(../public/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'Poppins-medium';
  src: url(../public/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'Poppins-semibold';
  src: url(../public/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: 'Poppins-bold';
  src: url(../public/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: 'Poppins-extrabold';
  src: url(../public/fonts/Poppins-ExtraBold.ttf);
}

:root{
  --lightGreyColor: #f7f7f7;
  --lightGreyColor-1: #F9F9F9;
  --textColorLight-1: #5C5C5C;
  --textColorLight-2: #787878;
  --textColorLight-3: #afafaf;
  --orangeColor: #F45531;
  --purpleColor: #8000FF;
  --purpleColorHover: rgb(128 0 255 / 75%);
  --purpleColorLight: #E6CCFF;
  --textColorGreen: #00FFA0;
  --fontFamily-normal: 'Poppins';
  --fontFamily-bold: 'Poppins-bold';
  --fontFamily-500: 'Poppins-medium';
  --fontFamily-extrabold: 'Poppins-extrabold';
  --fontFamily-semibold: 'Poppins-semibold';
  --font22: 1.375rem;
  --font30: 1.875rem;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  --list-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  --border: 0.0625rem solid;
  --form-border-color: #999999;
  --form-border-light: #dadada;
  --form-border-light-2: #ebebeb;
  --form-border-light-3: #d8d8d8;
  --radius: 0.4375rem;
  --letter--wide: 0.25rem;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--purpleColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--purpleColorHover);
}

.w-18{
  width: 4.5rem;
}
.ml-18{
  margin-left: 4.5rem;
}
.font-13{
  font-size: 0.8125rem;
}
.font-15{
  font-size: 0.9375rem;
}

svg path,
button, 
a, 
input[type="submit"],
input[type="reset"],
input[type="button"]{
  @apply duration-300;
}

.regularFont{
  font-family: var(--fontFamily-normal);
}

.mediumFont{
  font-family: var(--fontFamily-500);
}

.semiBoldFont{
  font-family: var(--fontFamily-semibold);
}

.boldFont{
  font-family: var(--fontFamily-bold);
}

.extraBoldFont{
  font-family: var(--fontFamily-extrabold);
}

.text--center{
  @apply text-center;
}

.h-52{
  height: 3.25rem;
}

.h-62{
  height: 3.875rem;
}

.mt--12{
  @apply mt-12;
}

.px-90{
  padding-left: 5.625rem;
  padding-right: 5.625rem;
}

.transform--center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transformY{
  top: 50%;
  transform: translateY(-50%);
}

.form--border{
  border-bottom: var(--border);
  border-color: var(--form-border-color);
}

.btn{
  background: var(--purpleColor);
  border-radius: var(--radius);
  @apply w-full justify-center flex items-center px-4 text-white text-sm h-52 mt-6 boldFont;
}

.reset--btn{
  @apply bg-transparent boldFont;
  color: var(--textColorLight-3);
  border: var(--border) var(--textColorLight-3);
}

.btn:hover{
  background: var(--purpleColorHover);
}

body{
  background-color: var(--lightGreyColor);
  background-image: url(../public/images/bg.png);
  font-family: var(--fontFamily-normal);
  @apply bg-no-repeat bg-bottom bg-contain min-h-screen break-words pb-6 leading-normal;
}

.site--form--container{
  @apply pt-12
}

.site--form--container .form--grid--wrapper{
  max-width: 85.875rem;
  max-height: calc(100vh - 6rem);
  background: var(--lightGreyColor-1);
  box-shadow: var(--box-shadow);
  @apply mx-auto overflow-y-auto grid;
  grid-template-columns: repeat(2, 1fr);
}

.form--site--logo {
  width: 9.0625rem;
  @apply mb-6;
}

.left--form--layout {
  @apply py-12 px-90 bg-white;
}

.signUp--page .left--form--layout{
  @apply py-8;
}

.form--title {
  font-size: var(--font30);
  letter-spacing: -0.0361910625rem;
  @apply extraBoldFont;
}

.form--content{
  color: var(--textColorLight-1);
  @apply mt-2;
}

.form--content a{
  @apply underline;
}

.form--content a:hover{
  @apply no-underline;
}

.site--form{
  @apply mt-10;
}

.form--item{
  @apply mb-6 mt-8 relative;
}

.form--label{
  @apply absolute opacity-0 duration-300 left-0;
}

.form--control{
  @apply w-full pb-2 form--border outline-0;
}

.form--control:focus{
  border-color: var(--purpleColor);
}

.form--control:focus + .form--label{
  @apply opacity-100;
  top: -1.5rem;
}

.forgot--pwd{
  @apply text-right;
}

.form--actions button{
  @apply h-62 text-base;
}

.form--bottom--content{
  color: var(--textColorLight-1);
  @apply text-center mt-5;
}

p a{
  color: var(--purpleColor);
  @apply font-bold;
}
p a:hover{
  color: var(--purpleColorHover);
}

.center--block {
  @apply bg-white absolute py-10 px-90 transform--center w-full overflow-y-auto;
  max-width: 43.1875rem;
  max-height: 95vh;
  border-radius: var(--radius);
}

.block--title {
  @apply relative;
  font-size: var(--font22);
  font-family: var(--fontFamily-bold);
}

.block--info {
  @apply pt-1 px-8 mt-10;
  min-height: 11.625rem;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.info--title {
  font-size: var(--font22);
  @apply flex gap-4 items-center mb-4;
}

.info--title span:first-child{
  font-size: var(--font30);
  font-family: var(--fontFamily-extrabold);
  color: var(--purpleColor);
}

.info--text {
  color: var(--textColorLight-1);
}

.info--button .btn {
  @apply mt-8;
}

.checkout--options {
  @apply mt-6;
}

p.option-title {
  @apply mb-4;
  font-family: var(--fontFamily-500);
}

.option--list li {
  box-shadow: var(--list-box-shadow);
  border-radius: var(--radius);
  @apply duration-300;
}

.option--list li:hover{
  box-shadow: var(--box-shadow);
}

.option--list li:not(:last-child) {
  @apply mb-6;
}

.option--list li a {
  @apply p-5 flex justify-between items-center text-lg;
  font-family: var(--fontFamily-500);
}

span.option--img {
  width: 8.25rem;
}

.block--card--img {
  @apply mt-3 mb-4;
}

form.card--form .form--label {
  @apply opacity-100 mb-2 block;
  position: inherit;
  font-family: var(--fontFamily-500);
}

.card--form .form--control {
  border: var(--border);
  border-color: var(--form-border-light);
  padding: 0.625rem;
  border-radius: var(--radius);
  letter-spacing: var(--letter--wide);
}

.form--group {
  @apply grid;
  gap: 2%;
  grid-template-columns: 65% 33%;
}

form.card--form .form--item {
  @apply mt-0;
}

form.card--form .form--actions .btn{
  @apply mt-0;
}

.back--link{
  @apply absolute transformY w-6 h-6 bg-no-repeat bg-center;
  left: -3rem;
  background-image: url(../public/images/back-arrow.svg);
  background-size: 95%;
}

.email--image {
  @apply my-12 mx-auto;
  width: 6.25rem;
}

.info--text span{
  @apply block;
  font-family: var(--fontFamily-bold);
}

.block--content p span{
  font-family: var(--fontFamily-bold);
}

.form--group.grid--4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.otp--page .form--control{
  @apply text-center;
  font-size: var(--font30);
  font-family: var(--fontFamily-bold);
  border-bottom-width: 0.125rem;
  border-color: var(--purpleColor);
}

.otp--page .block--content{
  @apply text-lg mt-4;
}

.tick--image{
  width: 3.6875rem;
  @apply mx-auto my-8;
}

.email--sent--block{
  max-width: 39rem;
  @apply pb-20;
}

.email--sent--cnf{
  @apply text-2xl text-black;
}

.welcome--layout{
  @apply items-center;
}

.welcome-content p{
  @apply flex gap-2 items-center justify-center my-10 text-xl text-black;
}

.tick--image--small{
  @apply w-6;
}

.site--form--container .form--grid--wrapper.welcome--layout{
  @apply bg-white;
}

.right--form--layout{
  @apply flex items-end;
  min-height: calc(100vh - 12rem);
}

.right--form--layout .welocme-image{
  @apply w-full h-full;
}

.login--icons{
  width: 7.625rem;
  @apply mx-auto mb-20 relative mt-20;
}

.icons{
  width: 2.5625rem;
  @apply absolute transform--center;
}

.purple--bg-circle--transparent {
  width: 7.625rem;
  box-shadow: 0 0 80px rgb(128 0 255 / 40%);
  @apply relative rounded-full;
}

.purple--bg-circle {
  width: 4.875rem;
  @apply absolute transform--center;
}

.right--layout--content {
  max-width: 32rem;
  @apply mx-auto relative w-full;
}

.right--content {
  @apply text-lg mb-32 mt-12;
  color: var(--textColorLight-2);
}

button.slick-arrow.slick-prev{
  display: none !important;
}
button.slick-arrow.slick-next{
  @apply absolute bottom-0 right-0;
  color: var(--purpleColor);
}

ul.slick-dots{
  @apply absolute bottom-0 left-0 gap-2;
  display: flex !important;
}

ul.slick-dots li{
  @apply leading-none;
}

ul.slick-dots li button{
  @apply w-2 h-2 rounded-full overflow-hidden indent-96;
  background: var(--form-border-light);
}

ul.slick-dots li.slick-active button{
  background-color: var(--purpleColor);
}

.site--footer {
  @apply absolute text-center text-sm left-0 right-0 bottom-3;
  color: var(--textColorLight-2);
}

/* Side-bar Mneu items */

.sideBar--nav {
  @apply bg-white w-18 fixed inset-y-0 py-12 overflow-x-hidden overflow-y-auto duration-300 z-20;
}

.sideBar--nav.collapse--menu:hover{
  @apply w-80;
}

.burger--menu{
  @apply absolute right-3 justify-center cursor-pointer z-40 w-6 grid flex-wrap gap-1;
}

.sideBar--nav.collapse--menu .burger--menu{
  left: 1.75rem;
}

.sideBar--nav.collapse--menu:hover .burger--menu{
  left: inherit;
}

.sideBar--nav:not(.collapse--menu) .burger--menu{
  @apply justify-end;
}

.burger--menu span{
  @apply h-1 w-6 ml-auto block bg-black;
}

.sideBar--nav .form--site--logo{
  width: 12.875rem;
  @apply ml-4 opacity-0;
}

.sideBar--nav:hover .form--site--logo{
  @apply opacity-100;
}

ul.menu__list{
  @apply w-80;
}

li.menu__list--item {
  @apply py-2 my-4 relative;
  border-left: 0.1875rem solid transparent;
}

li.menu__list--item.active--menu{
  border-left-color: var(--purpleColor);
}

li.menu__list--item a {
  @apply flex pl-6 leading-none gap-6 text-lg items-center;
}

li.menu__list--item a > span{
  @apply w-6;
}

li.menu__list--item a > span svg{
  @apply w-full h-auto;
}

.sideBar--nav.collapse--menu li.menu__list--item a{
  @apply gap-8;
}

.sideBar--nav.collapse--menu:hover li.menu__list--item a{
  @apply gap-6;
}

li.menu__list--item a:hover,
li.menu__list--item.active--menu a{
  color: var(--purpleColor);
}

li.menu__list--item a:hover svg path,
li.menu__list--item.active--menu a svg path{
  fill: var(--purpleColor);
}


li.menu__list--item a span.noti--status {
  @apply absolute right-4 rounded-xl text-white py-1 px-2 text-xs w-auto;
  background: var(--purpleColor);
}

/* Site content */
.site--content {
  @apply ml-18 py-8 px-12 duration-300;
}

.card--wrapper{
  @apply mt-10;
}

.wrapper--hgroup{
  @apply flex justify-between mb-4 items-center;
}

.readmore--link{
  color: var(--purpleColor);
  @apply mediumFont text-xl cursor-pointer duration-300;
}

.readmore--link:hover{
  color: var(--purpleColorHover);
}

.readMore--btn a {
  @apply text-center py-3 px-6 w-full mt-12 mx-auto text-sm semiBoldFont block;
  border: var(--border) #000;
  max-width: 21.5rem;
  border-radius: 0.25rem;
}

.readMore--btn a:hover{
  color: var(--purpleColor);
  border-color: var(--purpleColor);
}

.wrapper--title h3 {
  @apply text-xl semiBoldFont;
}

.card--grid{
  @apply mt-6;
}

.card--grid .card--style,
.card--grid .wrapper--col{
  /* @apply mt-6; */
}

.card--style {
  @apply bg-white p-4;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
}

.card--style.card--with--border {
  @apply shadow-none;
  border: var(--border) var(--form-border-light-2);
}

.card--style.card--with--border ul{
  @apply flex gap-6 flex-wrap;
}

.card--style.card--with--border ul li{
  @apply flex gap-2 items-center;
}

.trade--image {
  @apply w-10;
}

p.trade--name {
  @apply semiBoldFont text-black leading-none;
}

p.trade--position {
  @apply text-xs;
}

.card--data{
  @apply grid gap-2;
}

.card--row ul{
  @apply grid gap-3;
  grid-template-columns: repeat(3, 1fr);
}

.card--title--label{
  @apply text-black opacity-40 text-xs mb-2;
}

.card--title{
  @apply text-black text-sm semiBoldFont;
}

.card--style.card--list--style{
  @apply p-0 overflow-x-auto overflow-y-auto;
  height: 36rem;
}

.card--list--style ul li {
  @apply p-6 flex gap-2 justify-between;
  border-bottom: var(--border) var(--form-border-light-3);
}

.light--purple--circle {
  @apply w-10 h-10 rounded-full;
  background: var(--purpleColorLight);
}

.stock--detail {
  @apply uppercase flex items-center gap-3;
}

p.stock--title {
  @apply semiBoldFont;
}

p.stock--sub--title {
  @apply text-sm;
}

.stock--positions {
  color: var(--textColorGreen);
  @apply text-right flex items-end gap-3;
}

.loser--stock--position{
  color: var(--orangeColor);
}

.stock--dat {
  @apply text-black;
}

p.stock--position {
  @apply semiBoldFont text-base;
}

p.stock--subposition {
  @apply font-13;
}

table{
  @apply w-full;
}

th {
  @apply uppercase align-top text-left semiBoldFont;
}

th, td {
  @apply p-4;
  border-bottom: var(--border) var(--form-border-light-3);
  padding: 1rem;
}

td {
  @apply whitespace-nowrap;
}

td.sector--loss {
  color: var(--orangeColor);
}

td.sector--gain {
  color: var(--textColorGreen);
}

.label--purple{
  color: var(--purpleColor);
  @apply opacity-100;
}

.newsTitle{
  @apply font-15;
  max-width: 17.5rem;
}

.welcome--image{
  border-radius: var(--radius);
  @apply overflow-hidden;
}

.welcome--image span{
  @apply min-h-full;
}

.card--style.portfolio--card {
  @apply p-6 mt-0;
}

.card--title h1{
  @apply text-2xl boldFont;
}

.portfolio--card .option--list{
  @apply mt-3 relative left-0 top-0 max-w-full;
}

.portfolio--card .card--list{
  @apply mt-10;
}

.portfolio--card .card--list .card--title{
  @apply regularFont;
}

.portfolio--card .option--list li{
  @apply p-6 flex justify-between gap-3 items-center semiBoldFont;
  box-shadow: var(--box-shadow);
}



/* Tradestek CSS */
/* .font-25{
  font-size: 1.563rem;
  @apply font-bold
} */
/* .font-15{
  font-size: 0.938rem;
}
.font-20{
  font-size: 1.25rem;
} */
.grid--2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.btn-white button{
  color: #AFAFAF;
  border: 1px solid #AFAFAF;
  min-width: 21.438rem;
}
.card-no-gap{
  @apply bg-white;
  border-radius: 0.438rem;
}
.react-tabs ul {
  @apply flex items-center justify-start;
  padding: 0.688rem 0;
}
.react-tabs ul li{
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 2.563rem;
  padding-right: 2.563rem;
  @apply cursor-pointer;
}
/* .font-normal{
  font-weight: 400;
}
.font-bold{
  font-weight: 700;
} */
.data-title{
  @apply flex gap-12;
}
.data-title span {
  @apply boldFont;
}
/* .mt-30{
  margin-top: 1.875rem;
} 
.mb-20{
  margin-bottom: 1.25rem;
} */
.status-summary {
  background: #E6CCFF;
  padding: 0.875rem;
  @apply flex items-center;
}
.grid--3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.react-tabs ul .react-tabs__tab--selected{
  color: #8000FF;
  border-bottom: 0.179rem solid #8000FF;
}
.stocks-form {
  padding: 0 2.563rem 2rem; 
}
.status-summary svg {
  @apply mr-3;
}
.right-align{
  @apply flex items-center justify-end;
}
.beginner-option{
  @apply flex gap-12 items-center;
}
.beginner-option .btn{
  min-width: 17.188rem;
  @apply px-4 text-white justify-start mt-0 flex gap-16;
  border-radius: var(--radius);
}
:focus-visible {
  outline: none;
}
.btn-blue {
  @apply flex items-center font-normal;
  color: #8000FF;
  font-size: 0.938rem;
}
.grid-block-right {
  position: relative;
}
.option--list {
  max-width: 18rem;
  left: 29rem;
  top: 4rem;
  @apply bg-white w-full absolute;
}
.option--list ul{
  @apply pl-4
}
.option--list li{
  box-shadow: none
}
/* .btn--group div:nth-child(2){
  margin-left: 0.813rem;
}
.btn-white button{
  color: #AFAFAF;
  border: 0.063rem solid #AFAFAF;
  min-width: 21.438rem;
  border-radius: 0.438rem;
  padding: 2.2rem;
  @apply bg-white;
}
.btn-gray button{
  background: #AFAFAF;
  border: 0.063rem solid #AFAFAF;
  min-width: 21.438rem;
  border-radius: 0.438rem;
  padding: 2.2rem;
} */

.stocks--form--group {
  @apply relative pr-40 grid gap-x-6;
  grid-template-columns: repeat(3, 1fr);
}

.stocks--form--group .readmore--link {
  @apply text-sm flex gap-4 items-center absolute right-0;
}

.stocks--form--group .form--item{
  @apply mt-0;
  position: inherit;
}

.stocks--form--group .form--label{
  @apply opacity-100 relative mb-2 block;
}

.btn--group{
  @apply flex items-center gap-6 pr-40;
}

.stocks-form .form--actions .btn{
  @apply text-sm;
  height: 3.25rem;
  max-width: 22rem;
}

.top--value--bar{
  @apply mt-8 mb-6 flex gap-12 flex-wrap;
}


@media screen and (min-height: 640px) {
  .site__nav--bottom {
    @apply absolute bottom-0 inset-x-0;
  }
}

@media screen and (min-width: 48rem){
  .card--grid{
    @apply grid gap-6 mt-0;
  }  
  .card--grid--4{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 60rem){
  .card--grid--60-40 {
    grid-template-columns: calc(60% - 0.75rem) calc(40% - 0.75rem);
  }
  .sideBar--nav{
    @apply w-80;
  }
  .sideBar--nav.collapse--menu{
    @apply w-18;
  }
  .site--content {
    @apply ml-80;
  }  
  .sideBar--nav.collapse--menu + .site--content{
    @apply ml-18;
  }  
  .sideBar--nav.collapse--menu:hover + .site--content{
    @apply ml-80;
  }
  .sideBar--nav .form--site--logo{
    @apply ml-4 opacity-100;
  }
  .sideBar--nav.collapse--menu .form--site--logo{
    @apply opacity-0;
  }
  .sideBar--nav.collapse--menu:hover .form--site--logo{
    @apply opacity-100;
  }
  .sideBar--nav:not(.collapse--menu) .burger--menu span:nth-child(2){
    @apply w-4/5;
  }  
  .sideBar--nav:not(.collapse--menu) .burger--menu span:last-child{
    @apply w-3/5;
  }
}
@media screen and (min-width: 80rem){
  html{
    font-size: 0.833333vw;
  }
  .card--style.card--with--border ul{
    @apply justify-between;
  }
  .card--grid--3{
    grid-template-columns: repeat(3, 1fr);
    @apply gap-10;
  }
  .card--grid--4{
    grid-template-columns: repeat(4, 1fr);
  }
}


